p{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h3{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
