p{
    background-color:rgb(153, 89, 16);
}

h1{background-color:rgb(116, 116, 14);
}

h2{background-color:rgb(102, 20, 20);
}

h3{background-color:rgb(25, 25, 92);
}

h4{background-color:rgb(14, 58, 14);
}

img{}

figcaption{}