body{
    background-color:rgb(158, 110, 5);
}

p{
    background-color:rgb(119, 78, 3);
}

h1{
    background-color:rgb(158, 110, 5);
}

h2{
    background-color:rgb(158, 110, 5);
}

h3{
    background-color:rgb(158, 110, 5);
}

h4{
    background-color:rgb(158, 110, 5);
}

img{
    background-color:rgb(158, 110, 5);
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 15px;
}

figcaption{
    outline-style: solid;
    background-color:rgb(119, 78, 3);
}